OPENAI_API_KEY=
VITE_CHATKIT_API_URL=http://127.0.0.1:8000/chatkit
GETNET_API_BASE_URL=https://api.pre.globalgetnet.com
GETNET_CLIENT_ID=
GETNET_CLIENT_SECRET=
GETNET_CLIENT_ID_API=
GETNET_CLIENT_SECRET_API=